@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Montserrat-Light";
    src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
}

body {
    font-family: 'Montserrat-Light', sans-serif;
    scroll-behavior: smooth;
}

input, button, textarea, select {
    outline: none;
}
